body {
    background-image: url(../imagenes/fondooriginal.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .circle {
     /*animacion*/
    width: 150px;
    height: 150px;
    border-radius: 150%;
    background-color: blue;
    margin: 10px;
    transition: background-color 2s ease, height 1s  ease, width 2s ease, transform 2s ease;

    /* modificacion de la letra*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    
  }

  .circle:hover {
    background-color: brown;
    height: 250px;
    width: 250px;
    transform: rotate(80deg);
}