body{
    background-image: url('../imagenes/fondooriginal.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ajuste para cubrir completamente el fondo */
    margin: 0; /* Asegurarse de que no haya margen en el body */
    font-family: 'Arial', sans-serif; /* Corrección del nombre de la fuente */
}

nav{
    background-color: rgb(0, 0, 0);
}
article{
    background-color: rgb(255, 255, 255);
}
aside{
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(33, 43, 61);
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#titulo1{
    color:white;
    font-weight: 200pt;
    font-size: 50pt;
    text-align: center;
}
header{
    flex: 0;
}
nav{
    flex:0;
}
section{
    display: flex;
    flex-direction: row;
    flex: 1;
}
article{
    flex: 4;
}
aside{
    flex: 1;
}
h1, h2{
    margin: 0;
}
footer{
    flex: 1;
    display: flex;
    flex-direction: row;
}
footer div{
    flex: 1;
}

li{
    font-size: 20pt; 
}
.parrafo{
    color:rgb(0, 0, 0);
    font-size: 20pt;
}
nav ul{
    display:flex;
}
nav ul li{
    list-style:none;
}
nav li{
    margin: 0;
    position: relative;

}
nav a{
    text-decoration: none;
    padding: 10px;
    display:block;
    color: rgb(255, 255, 255);
    width: 280px;
    text-align: center;
}
nav a:hover{
    background-color: rebeccapurple;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
}
.mostrar-submenu:hover .submenu{
    display:block;
}

#box{
    background-color: rgb(0, 0, 0);
    margin:100px;
    padding:50px;
    border:5px solid;
    border-radius: 50px;
    box-shadow: 5px 10px 10px 0 #744f4f;
}
#box1{
    background-color: blueviolet;
}
#titulo{
    color: rgb(42, 44, 165);
    font-family: sans-serif;
    font-size: 78px;
    text-transform: uppercase; /*para poner en mayusculas o minusculas */
    font-weight: 800; /*para aumentar el grosor de la tipografia*/
    font-style: italic;/*es para poner negritas o subrayado*/
    text-shadow: 5px 10px 10px #333;
    text-align: center;
}
img{
    float:right;
}

/*menu desplegable*/
.letra3 {
    color: white;
    height: 600px;
    width: 600px;
}

.barra {
    font-family: 'Lato', sans-serif;
    width: 10%;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
}

.barra ul {
    padding: 6px;
    text-align: center;
}

.barra li {
    transition: all .3s;
    list-style: none;
}

.barra a {
    text-decoration: none;
    font-weight: normal;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}

.barra h2 {
    text-align: center;
    color: white;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
}

.barra img {
    padding-top: 30px;
    padding-left: 10px;
}

.barra:hover {
    width: 50%;
    height: 100vh;
    background: rgba(5, 33, 51, 0.98);
}

.barra:hover h2 {
    padding: 15px;
    font-size: 35px;
}

.barra:hover a {
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px;
}

.barra:hover img {
    height: 0px;
}

.barra:hover li {
    border-top: 1px solid #03121b;
    width: 100%;
}

.barra:hover ul:last-of-type {
    border-bottom: 1px solid #03121b;
}

.barra:hover a:hover {
    font-size: 25px;
    padding: 30px 0px;
    background: rgba(23, 78, 112, 0.98);
}

@media (min-width: 768px) {
    .barra:hover {
        width: 25%;
    }
}


