body {
    color: red;
    background-image: url(../imagenes/fondooriginal.jpg);
    background-repeat: repeat-y;
}

#titulo {
    color: green;
    font-weight: 600;
    font-size: 80pt;
}

.parrafo {
    color: aquamarine;
}

div {
    background-color: rgb(59, 57, 58);
    width: 400px;
    margin: 0 auto;
}

nav ul {
    background-color: rgb(75, 233, 13);
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    display: block;
    width: 100px;
    text-align: center;
}

nav ul li a:hover {
    background-color: blueviolet;
}

.highlight-box {
    border: 10px solid #3498db;
    padding: 20px;
    margin: 20px auto;
    max-width: 9000px;
}
